body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg{
  background-color: whitesmoke;
  padding:15px;
  border-radius: 5px;
}

#legend{
  background-color: white;
  margin: 15px;
  width: auto;
}

#tooltip{
  position: absolute;
  pointer-events: none;
  opacity: 0;
  margin-left: 3px;
  background-color: darkgrey;
  color: white;
  padding: 15px;
  font-size: 1.3rem;
  border-radius: 5px;
}